<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="asserts/bootstrap/css/bootstrap.min.css" th:href="@{/asserts/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="asserts/css/font-awesome.min.css" th:href="@{/asserts/css/font-awesome.min.css}">
	<link rel="stylesheet" href="asserts/css/theme.css" th:href="@{/asserts/css/theme.css}">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
.seltype {
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    color: red;
}
	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="../index.html" style="font-size:32px;">千寻-问答平台</a>
				</div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> 张三<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="../member.html"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                    <li class="divider"></li>
                    <li><a href="../index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                  </ul>
                </li>
              </ul>
            </div>
			  </div>
			</nav>

      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>实名认证 - 账户类型选择</h1>
      </div>
	  <div style="padding-top:10px;">
		<div class="row">
          <div class="col-xs-6 col-md-3">
          <h2>商业公司</h2>
            <a href="#" class="thumbnail" accttype="0">
              <img alt="100%x180" src="asserts/img/services-box1.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h2>个体工商户</h2>
            <a href="#" class="thumbnail" accttype="1">
              <img alt="100%x180" src="asserts/img/services-box2.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h2>个人经营</h2>
            <a href="#" class="thumbnail" accttype="2">
              <img alt="100%x180" src="asserts/img/services-box3.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h2>政府及非营利组织</h2>
            <a href="#" class="thumbnail" accttype="3">
              <img alt="100%x180" src="asserts/img/services-box4.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            </a>
          </div>
      </div>
	<button id="applyBtn" type="button" class="btn btn-danger btn-lg btn-block">认证申请</button>
    </div>
    </div>

    <script src="asserts/jquery/jquery-2.1.1.min.js" th:src="@{/asserts/jquery/jquery-2.1.1.min.js}"></script>
    <script src="asserts/bootstrap/js/bootstrap.min.js" th:src="@{/asserts/bootstrap/js/bootstrap.min.js}"></script>
	<script src="asserts/script/docs.min.js" th:src="@{/asserts/script/docs.min.js}"></script>
	<script>
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0,index+1);


        $(".thumbnail").click(function(){
            $('.seltype').remove();
            $(this).prepend('<div class="glyphicon glyphicon-ok seltype"></div>');
        });


        var accttype = 0 ;

        $(".thumbnail").click(function(){
            $('.seltype').remove();
            $(this).prepend('<div class="glyphicon glyphicon-ok seltype"></div>');
            accttype = $(this).attr("accttype");
        });
        accttype = accttype + "";

        $("#applyBtn").click(function(){
            //判断账户类型是否被选中
            var len = $(".seltype").length;
            if(len == 0){
                alert("请选择账户类型继续申请");
            } else{
                // 保存选择的账户类型
                $.ajax({
                    type : "POST",
                    dataType : "json",
                    url  : result + "/member/updateAcct",  //更新账户的类型
                    data : {
                        accttype : accttype
                    },
                    success : function(result) {
                        if ( result.success ) {
                            window.location.href = "member/basicinfo.html";
                        } else {
                            alert("账户更新失败");
                        }
                    }
                });
            }
        });

	</script>
  </body>
</html>