<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Knowledge Base Theme</title>

    <link rel="shortcut icon" href="images/favicon.png" th:href="@{/asserts/images/favicon.png}"/>


    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css' href='css/bootstrap5152.css?ver=1.0' th:href="@{/asserts/css/bootstrap5152.css?ver=1.0}" type='text/css' media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='css/responsive5152.css?ver=1.0' th:href="@{/asserts/css/responsive5152.css?ver=1.0}" type='text/css' media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' th:href="@{/asserts/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='main-css-css' href='css/main5152.css?ver=1.0' th:href="@{/asserts/css/main5152.css?ver=1.0}" type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='css/custom5152.html?ver=1.0' th:href="@{/asserts/css/custom5152.html?ver=1.0}" type='text/css' media='all'/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <!--<script src="js/html5.js"></script></script>-->
    <![endif]-->

<style>

.search-area #queryBtn,#insert{
    border: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    padding: 14px 30px 15px;
    color: #fff;
    background-color: #4b5760;
}
#Pagination span,#Pagination a{
    padding:6px;
    height: 20px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
    display: inline-block;
}


</style>
</head>

<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index-2.html" title="Knowledge Base Theme">
                    <img src="images/logo.png" th:src="@{asserts/images/logo.png}" alt="Knowledge Base Theme">
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li th:if="${session.manager!=null}"><a href="manager/index.html" th:href="@{/manager/index.html}">管理员中心</a></li>
                        <li th:if="${session.member==null}"><a href="login.html" th:href="@{/login.html}">登录</a></li>
                        <li th:if="${session.member==null}"><a href="reg.html" th:href="@{/reg.html}" >注册</a></li>
                        <li th:if="${session.member!=null}"><a href="reg.html" th:href="@{/member.html}" >个人中心</a></li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">Have a Question?</h3>
        <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

        <form id="search-form" class="search-form clearfix" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="queryText" name="queryText" placeholder="请输入你想查询的题目"/>
            <button type="button" id="queryBtn" class="search-btn"> Search</button>
            <button type="button" class="btn btn-primary" id="insert" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">添加问题</button>
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 main-listing" >

                <div id="body">

                </div>
                <div id="Pagination">

                </div>
            </div>


            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">Support</h3>
                        <p class="intro">Need more support? If you did not found an answer, contact us for further
                            help.</p>
                    </div>
                </section>


                <section class="widget">
                    <h3 class="title">Featured Articles</h3>
                    <ul class="articles">
                        <li class="article-entry standard">
                            <h4><a href="single.html">Integrating WordPress with Your Website</a></h4>
                            <span class="article-meta">25 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                            <span class="like-count">66</span>
                        </li>
                        <li class="article-entry standard">
                            <h4><a href="single.html">WordPress Site Maintenance</a></h4>
                            <span class="article-meta">24 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website Dev</a></span>
                            <span class="like-count">15</span>
                        </li>
                        <li class="article-entry video">
                            <h4><a href="single.html">Meta Tags in WordPress</a></h4>
                            <span class="article-meta">23 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website Dev</a></span>
                            <span class="like-count">8</span>
                        </li>
                        <li class="article-entry image">
                            <h4><a href="single.html">WordPress in Your Language</a></h4>
                            <span class="article-meta">22 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                            <span class="like-count">6</span>
                        </li>
                    </ul>
                </section>


                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">Recent Comments</h3>
                    <ul id="recentcomments">
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments">saqib sarwar on <a href="#">Integrating WordPress with Your
                            Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">Mr WordPress</a> on
                            <a href="#">Installing WordPress</a></li>
                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加问题</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title" class="control-label">title：</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="context" class="control-label">detail：</label>
                        <textarea class="form-control" id="context" name="context"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="doinsert()">添加</button>
            </div>
        </div>
    </div>
</div>


<!-- End of Footer -->

<a href="#top" id="scroll-top"></a>

<!-- script -->
<!--<script type='text/javascript' src='js/jquery-1.8.3.min.js' th:src="@{/asserts/js/jquery-1.8.3.min.js}"></script>-->
<!--<script type='text/javascript' src='js/jquery.easing.1.34e44.js?ver=1.3' th:src="@{/asserts/js/jquery.easing.1.34e44.js?ver=1.3}"></script>-->
<!--<script type='text/javascript' src='js/prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4' th:src="@{/asserts/js/prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4}"></script>-->
<!--<script type='text/javascript' src='js/jquery.liveSearchd5f7.js?ver=2.0' th:src="@{/asserts/js/jquery.liveSearchd5f7.js?ver=2.0}"></script>-->
<!--<script type='text/javascript' src='js/jflickrfeed.js' th:src="@{/asserts/js/jflickrfeed.js}"></script>-->
<!--<script type='text/javascript' src='js/jquery.formd471.js?ver=3.18' th:src="@{/asserts/js/jquery.formd471.js?ver=3.18}"></script>-->
<!--<script type='text/javascript' src='js/jquery.validate.minfc6b.js?ver=1.10.0' th:src="@{/asserts/js/jquery.validate.minfc6b.js?ver=1.10.0}"></script>-->
<!--<script type='text/javascript' src='js/custom5152.js?ver=1.0' th:src="@{/asserts/js/custom5152.js?ver=1.0}"></script>-->
<!--<script src="asserts/jquery/pagination/jquery.pagination.js" th:src="@{/asserts/jquery/pagination/jquery.pagination.js}"></script>-->

<script src="asserts/jquery/jquery-2.1.1.min.js" th:src="@{/asserts/jquery/jquery-2.1.1.min.js}"></script>
<script src="asserts/bootstrap/js/bootstrap.min.js" th:src="@{/asserts/bootstrap/js/bootstrap.min.js}"></script>
<script src="asserts/script/docs.min.js" th:src="@{/asserts/script/docs.min.js}"></script>
<script src="asserts/jquery/pagination/jquery.pagination.js" th:src="@{/asserts/jquery/pagination/jquery.pagination.js}"></script>

<script type="text/javascript">

    var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var result = pathName.substr(0,index+1);

    $(function () {
        queryPageUser(0);
    });

    var jsonObj = {
        "pageno":1,
        "pageSize":10
    };

    function queryPageUser(pageIndex){
        jsonObj.pageno = pageIndex + 1;
        $.ajax({
            type:"POST",
            data:jsonObj,
            url: result + "/question/doIndex",
            beforeSend:function(){
                return true;
            },

            success:function(result){
                if(result.success){

                    var page = result.page;
                    var data = page.datas;
                    var content = "";
                    $.each(data, function(i, n ){
                        content+= '<article class="format-standard type-post hentry clearfix">';
                        content+= '<header class="clearfix">';
                        content+= '<h3 class="post-title">';
                        content+= "<a href='answer/index/id="+ n.id +"'>" + n.title + "</a>";
                        content+= '</h3>';
                        content+= '<div class="post-meta clearfix">';
                        content+= '<span class="date">25 Feb, 2013</span>';
                        content+= '<span class="category"><a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>';
                        content+= '<span class="comments"><a href="#"';
                        content+= 'title="Comment on Integrating WordPress with Your Website">' + n.account +' Comments</a></span>';
                        content+= '<span class="like-count">66</span>';
                        content+= '</div>';
                        content+= '</header>';
                        content+= '</article>';
                    });
                    $("#body").html(content);

                    //创建分页
                    $("#Pagination").pagination(page.totalSize,{
                        num_edge_entries: 1, //边缘页数
                        num_display_entries: 2, //主体页数
                        callback: queryPageUser,
                        /* items_per_page: 10, //每页显示1项 */
                        current_page:(page.pageno-1),
                        prev_text : "上一页",
                        next_text : "下一页"
                    });


                }else{
                    layer.msg(result.message, {time:1000, icon:5, shift:6});
                }
            },
            error:function(){
                layer.confirm("查询失败",  {icon: 3, title:'提示'})
            }
        });
    }

    $("#queryBtn").click(function(){
        var queryText = $("#queryText").val();
        jsonObj.queryText = queryText;
        queryPageUser(0);//符合条件的从第一页开始显示

    });

    function doinsert(){
        $.ajax({
            type : "POST",
            data : {
                "title" : $("#title").val(),
                "context" : $("#context").val()
            },
            url : result + "/question/insertQuestion",
            beforeSend : function(){
                return true ;
            },
            success : function(result){ //{"success":true}  或    {"success":false,"message":"登录失败!"}
                if(result.success){
                    $(".modal").modal("hide");
                    queryPageUser(0);//符合条件的从第一页开始显示
                }else{

                }
            },
            error : function(){

            }
        });
    }


</script>

</body>
</html>
